.expiration-select select {
  font-size: 0.98em;
  padding-top: 0;
  padding-bottom: 0;
  color: #333;
}

small.form-text,
span.form-text {
  line-height: 18px;
}

.table td {
  vertical-align: middle;
}
