@()(implicit messages: Messages)

<div class="hero-unit">
    <div class="flags">
        <a href="@routes.Application.setLang("fr")"><img src="@routes.Assets.versioned("img/flags/fr.png")" alt="FR" /></a>
        <a href="@routes.Application.setLang("en")"><img src="@routes.Assets.versioned("img/flags/us.png")" alt="US" /></a>
        <a href="@routes.Application.setLang("pt-BR")"><img src="@routes.Assets.versioned("img/flags/pt-br.png")" alt="PT-BR" /></a><br />

        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://www.mocky.io" data-related="julien_lafont" data-via="julien_lafont" data-t ext="Mock your HTTP responses to test your REST API">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <h1>@Messages("Mocky")</h1>
    <h2>@Messages("presentation.baseline")</h2>
    <pre>&gt; PUT https://www.mocky.io/v2/<span>5185415ba171ea3a00704eed</span></pre>
  <pre>< HTTP/1.1 200 OK
< Content-Type: application/json; charset=UTF-8
{ "<span>hello</span>": "<span>world</span>" }</pre>
</div>
