@()(implicit lang: Lang)
<div class="hero-unit">
    <div class="flags">
        <a href="@routes.Application.setLang("fr")"><img src="@routes.Assets.at("img/flags/fr.png")" alt="FR" /></a>
        <a href="@routes.Application.setLang("en")"><img src="@routes.Assets.at("img/flags/us.png")" alt="US" /></a>
    </div>
    <h1>@Messages("Mocky")</h1>
    <h2>@Messages("presentation.baseline")</h2>
    <pre>&gt; PUT http://www.mocky.io/v1/<span>123456789</span></pre>
  <pre>< HTTP/1.1 200 OK
< Content-Type: application/json; charset=UTF-8
{ "<span>hello</span>": "<span>world</span>" }</pre>
</div>
