.cookie--block {
  z-index: 2147483635;
  position: fixed;
  max-width: 450px;
  left: 0;
  right: 0;
  bottom: 12px;
  margin: 0 auto;
}

.cookie--body {
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: #ffffff;
  background-color: rgba(37, 37, 37, 1);
  box-shadow: 0 10px 24px 0 rgba(54, 61, 77, 0.5);
  border: 1px solid #aaa;
}

.cookie--description {
  line-height: 1.5;
  font-size: 14px;
  margin: 0 24px 0 0;
  font-weight: 400;
}

.cookie--description a {
  color: #fff;
}

.cookie--close {
  position: absolute;
  top: -9px;
  right: 0px;
  padding: 20px;
}

.cookie--close button {
  color: #666666;
  height: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.cookie--close svg:hover {
  color: #aaa;
}
