@(form: play.api.data.Form[Mocker])

@main("Mocky: Real HTTP mocking") {

@partials.presentation()

<form class="form-horizontal" action="/" method="post" id="new-mocky-form">

    @if(form.hasErrors) {
        <div class="alert alert-error">Invalid form, please retry ;)</div>
    }

    <div class="alert" id="feedback">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>s</p>
    </div>
    <div class="alert alert-info" id="confidential-alert">
        <strong>Do not publish confidential data!</strong> Your data will be stored in a <a href="https://gist.github.com/" target="_blank">private gist <img src="@routes.Assets.at("img/octocat.png")" /></a>.
    </div>

    <fieldset>
        <legend>Generate your custom response</legend>

        <div class="control-group">
            <label class="control-label" for="statusCode">Status Code</label>
            <div class="controls">
                <select id="statusCode" name="statuscode">
                    <optgroup label="Provisional response">
                        <option value="100">100 Continue</option>
                        <option value="101">101 Switching Protocols</option>
                        <option value="102">102 Processing</option>
                    </optgroup>
                    <optgroup label="Successful">
                        <option value="200" class="main" selected>200 OK</option>
                        <option value="201" class="main">201 Created</option>
                        <option value="202">202 Accepted</option>
                        <option value="203">203 Non-Authoritative Information</option>
                        <option value="204" class="main">204 No Content</option>
                        <option value="205">205 Reset Content</option>
                        <option value="206">206 Partial Content</option>
                        <option value="207">207 Multi-Status</option>
                        <option value="208">208 Already Reported</option>
                        <option value="226">226 IM Used</option>
                    </optgroup>
                    <optgroup label="Redirected">
                        <option value="300" data-location="true">300 Multiple Choices</option>
                        <option value="301" data-location="true">301 Moved Permanently</option>
                        <option value="302" data-location="true">302 Found</option>
                        <option value="303" data-location="true">303 See Other</option>
                        <option value="304" data-location="true">304 Not Modified</option>
                        <option value="305" data-location="true">305 Use Proxy</option>
                        <option value="306" data-location="true">306 Switch Proxy</option>
                        <option value="307" data-location="true">307 Temporary Redirect</option>
                        <option value="308" data-location="true">308 Permanent Redirect</option>
                    </optgroup>
                    <optgroup label="Request error">
                        <option value="400" class="main">400 Bad Request</option>
                        <option value="401">401 Unauthorized</option>
                        <option value="402">402 Payment Required</option>
                        <option value="403" class="main">403 Forbidden</option>
                        <option value="404" class="main">404 Not Found</option>
                        <option value="405">405 Method Not Allowed</option>
                        <option value="406">406 Not Acceptable</option>
                        <option value="407">407 Proxy Authentication Required</option>
                        <option value="408">408 Request Timeout</option>
                        <option value="409">409 Conflict</option>
                        <option value="410">410 Gone</option>
                        <option value="411">411 Length Required</option>
                        <option value="412">412 Precondition Failed</option>
                        <option value="413">413 Request Entity Too Large</option>
                        <option value="414">414 Request-URI Too Long</option>
                        <option value="415">415 Unsupported Media Type</option>
                        <option value="416">416 Requested Range Not Satisfiable</option>
                        <option value="417">417 Expectation Failed</option>
                        <option value="418">418 I'm a teapot</option>
                        <option value="420">420 Enhance Your Calm</option>
                        <option value="422">422 Unprocessable Entity</option>
                        <option value="423">423 Locked</option>
                        <option value="424">424 Failed Dependency</option>
                        <option value="425">425 Unordered Collection</option>
                        <option value="426">426 Upgrade Required</option>
                        <option value="428">428 Precondition Required</option>
                        <option value="429">429 Too Many Requests</option>
                        <option value="431">431 Request Header Fields Too Large</option>
                        <option value="444">444 No Response</option>
                        <option value="449">449 Retry With</option>
                        <option value="450">450 Blocked by Windows Parental Controls</option>
                        <option value="499">499 Client Closed Request</option>
                    </optgroup>
                    <optgroup label="Server error">
                        <option value="500" class="main">500 Internal Server Error</option>
                        <option value="501">501 Not Implemented</option>
                        <option value="502">502 Bad Gateway</option>
                        <option value="503" class="main">503 Service Unavailable</option>
                        <option value="504">504 Gateway Timeout</option>
                        <option value="505">505 HTTP Version Not Supported</option>
                        <option value="506">506 Variant Also Negotiates</option>
                        <option value="507">507 Insufficient Storage</option>
                        <option value="509">509 Bandwidth Limit Exceeded</option>
                        <option value="510">510 Not Extended</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="control-group hide" id="location-block">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
                <input type="text " id="location" name="location" placeholder="Redirect URI" class="input-xlarge" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="contentType">ContentType</label>
            <div class="controls">
                <select id="contentType" name="contenttype">
                    <option value="application/json" data-lang="json" selected>application/json</option>
                    <option value="application/xml" data-lang="xml">application/xml</option>
                    <option value="application/xhtml+xml" data-lang="html">application/xhtml+xml</option>
                    <option value="text/plain" data-lang="text">text/plain</option>
                    <option value="text/html" data-lang="html">text/html</option>
                    <option value="text/xml" data-lang="xml">text/xml</option>
                    <option value="text/json" data-lang="json">text/json</option>
                    <option value="text/css" data-lang="css">text/css</option>
                    <option value="text/csv" data-lang="text">text/csv</option>
                    <option value="application/x-www-form-urlencoded" data-lang="text">application/x-www-form-urlencoded</option>
                    <option value="multipart/form-data" data-lang="text">multipart/form-data</option>
                </select>
                &nbsp;
                <select id="charset" name="charset">
                    <option value="UTF-8">UTF-8</option>
                    <option value="ISO-8859-1">ISO-8859-1</option>
                    <option value="UTF-16">UTF-16</option>
                </select>
            </div>
        </div>

        <div class="advanced-block hide">
            <div class="control-group">
                <label class="control-label" for="editor">Custom headers</label>
                <div class="controls" id="advanced-block-inner">
                    <p class="clone">
                        <input class="span2" type="text" name="headerNames[]"> :
                        <input class="span4" type="text" name="headerValues[]">
                        <a class="btn btn-success btn-mini btn-add-header"><i class="icon icon-plus icon-white"></i></a>
                    </p>
                </div>
                <div class="controls">
                    <span class="help-block">Eg: ETag, If-None-Match, Expires, Last-Modified, Server, X-Cache, Cache-Control,<br /> X-Frame-Options, Server, Set-Cookie, X-UA-Compatible...</span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="editor">Body</label>
            <div class="controls">
                <div id="editor"></div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" id="send-btn">Generate my HTTP Response</button>
                <a href="#" class="btn btn-advanced-mode">Switch to advanced mode</a>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(function() {
        var editor = initNewEditor("editor");

        $("select").select2({
            width: "element"
        });

        $("#new-mocky-form").on('submit', function(e) {
            e.preventDefault();
            $("#send-btn").text("A dwarf will handle your request, please wait...").attr("disabled", "disabled")
            $.post("/", $(this).serialize()+"&body="+editor.getSession().getValue())
             .done(function(data) {
                console.log(data)
                $("#feedback p").html('<strong>Your link is ready :</strong> <a href="'+data.url+'" target="blank">'+data.url+'</a>')
                $("#feedback").addClass("alert-success");
             })
             .fail(function() {
                $("#feedback p").html("An error occured... please retry !")
                $("#feedback").addClass("alert-error");
             })
             .always(function() {
                $("#send-btn").text("Generate my HTTP Response").attr("disabled", null)
                $("#feedback").show()
                $("#confidential-alert").hide()
             })
        })

        $("#contentType").on("change", function() {
            var option = this.selectedOptions[0]
            if (option) {
                var lang = $(option).data("lang")
                changeEditorLanguage(lang)
            }
        })

        $("#statusCode").on("change", function() {
            var option = this.selectedOptions[0]
            if (option) {
                if ($(option).data("location")) {
                    $("#location-block").show();
                } else {
                    $("#location-block").hide().find("input").val("")
                }
            }
        })

        $(".btn-advanced-mode").on("click", function() {
            var $block = $(".advanced-block")
            if ($block.is(":visible")) {
                $block.hide();
                $(".btn-advanced-mode").text("Switch to advanced mode")
            } else {
                $block.show();
                $(".btn-advanced-mode").text("Switch to basic mode")
            }
        })

        $("#advanced-block-inner").on("click", ".btn-add-header", function(e) {
            e.preventDefault()
            var $context = $("#advanced-block-inner")
            var origin = $context.find(".clone")
            var clone = origin.clone()
            clone.find("input[type=text]").each(function() { $(this).val("") })
            $context.append(clone)
            origin.removeClass("clone")
            $(this).remove()
        })

        function initNewEditor(id) {
            var editor = ace.edit(id);
            editor.setTheme("ace/theme/tomorrow");
            editor.setHighlightActiveLine(false);
            editor.setShowPrintMargin(false);
            editor.renderer.setShowGutter(false);
            editor.getSession().setMode("ace/mode/json");
            return editor;
        }

        function changeEditorLanguage(lang) {
            editor.getSession().setMode("ace/mode/"+lang)
        }
    });
</script>

<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
}
