@(form: play.api.data.Form[Mocker])(implicit lang: Lang)

@main {

@partials.presentation()

<form class="form-horizontal" action="/" method="post" id="new-mocky-form">

    @if(form.hasErrors) {
        <div class="alert alert-error">@Messages("error.invalidForm")</div>
    }

    <div class="alert" id="feedback">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p></p>
    </div>
    <div class="alert alert-info" id="confidential-alert">
        <strong>@Messages("alert.confidential")</strong>
        </a>
    </div>

    <fieldset>
        <legend>@Messages("form.legend")</legend>

        <div class="control-group">
            <label class="control-label" for="statusCode">@Messages("form.code")</label>
            <div class="controls">
                <input type="text" id="statusCode" name="statuscode"  />
            </div>
        </div>
        <div class="control-group hide" id="location-block">
            <label class="control-label" for="location">@Messages("form.location")</label>
            <div class="controls">
                <input type="text" id="location" name="location" placeholder="Redirect URI" class="input-xlarge" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="contentType">@Messages("form.contentType")</label>
            <div class="controls">
                <input type="text" id="contentType" name="contenttype" />
                &nbsp;
                <input type="text" id="charset" name="charset" />
            </div>
        </div>

        <div class="advanced-block hide">
            <div class="control-group">
                <label class="control-label" for="editor">@Messages("form.customHeaders")</label>
                <div class="controls" id="advanced-block-inner">
                    <p class="clone">
                        <input class="span2" type="text" name="headerNames[]"> :
                        <input class="span4" type="text" name="headerValues[]">
                        <a class="btn btn-success btn-mini btn-add-header"><i class="icon icon-plus icon-white"></i></a>
                    </p>
                </div>
                <div class="controls">
                    <span class="help-block">@Messages("eg") ETag, If-None-Match, Expires, Last-Modified, Server, X-Cache, Cache-Control,<br /> X-Frame-Options, Server, Set-Cookie, X-UA-Compatible...</span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="editor">@Messages("form.body")</label>
            <div class="controls">
                <div id="editor"></div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" id="send-btn">@Messages("btn.generate")</button>
                <a href="#" class="btn btn-advanced-mode">@Messages("btn.advanced")</a>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">

    $("#statusCode").select2({
        createSearchChoice: function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
        multiple: false,
        width: "element",
        data: [@Referentials.codes.zipWithIndex.map{ case ((code, name), index) =>
            { id: @code, text: "@code @Html(name)" } @if(index+1<Referentials.codes.size){,}
        }]
    })
    $("#statusCode").select2('data', {id: 200, text:"200 OK"})

    $("#charset").select2({
        createSearchChoice: function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
        multiple: false,
        width: "element",
        data: [@Referentials.charsets.zipWithIndex.map{ case (charset, index) =>
            { id: "@Html(charset)", text: "@Html(charset)" } @if(index+1<Referentials.charsets.size){,}
        }]
    })
    $("#charset").select2('data', { id: "UTF-8", text: "UTF-8" })

    $("#contentType").select2({
        createSearchChoice: function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
        multiple: false,
        width: "element",
        data: [@Referentials.contentTypes.zipWithIndex.map{ case ((contenttype, lang), index) =>
            { id: "@Html(contenttype)", text: "@Html(contenttype)" } @if(index+1<Referentials.contentTypes.size){,}
        }]
    })
    $("#contentType").select2('data', { id: "application/json", text: "application/json" })

    $(function() {
        var editor = initNewEditor("editor");

        $("#new-mocky-form").on('submit', function(e) {
            e.preventDefault();
            _gaq.push(['_trackEvent', 'Mock', 'create', 'mock requested', , false]);
            $("#send-btn").text("@Messages("btn.wait")").attr("disabled", "disabled")
            var body = $(this).serializeArray().concat({name: "body", value: editor.getSession().getValue()})
            $.post("/", body)
             .done(function(data) {
                _gaq.push(['_trackEvent', 'Mock', 'success', 'mock created with success', , false]);
                $("#feedback p").html('<strong>@Messages("alert.linkReady")</strong> <a href="'+data.url+'" target="blank">'+data.url+'</a>')
                $("#feedback").addClass("alert-success").removeClass("alert-error");
             })
             .fail(function() {
                _gaq.push(['_trackEvent', 'Mock', 'failed', 'error when creating mock', , false]);
                $("#feedback p").html("@Messages("error.retry")")
                $("#feedback").addClass("alert-error").removeClass("alert-success");
             })
             .always(function() {
                $("#send-btn").text("@Messages("btn.generate")").attr("disabled", null)
                $("#feedback").show()
                $("#confidential-alert").hide()
             })
        })

        $("#contentType").on("change", function() {
            var ct = $(this).val()
            switch (ct) {
                @Referentials.contentTypes.map{ case (contentType, lang) =>
                    case "@Html(contentType)": changeEditorLanguage("@Html(lang)"); break;
                }
                default: changeEditorLanguage("text"); break;
            }
        })

        $("#statusCode").on("change", function() {
            var code = $(this).val()
            if (code.length > 0 && code[0]=="3") {
                $("#location-block").show();
            } else {
                $("#location-block").hide().find("input").val("")
            }
        })

        $(".btn-advanced-mode").on("click", function() {
            var $block = $(".advanced-block")
            if ($block.is(":visible")) {
                $block.hide();
                $(".btn-advanced-mode").text("@Messages("btn.advanced")")
            } else {
                $block.show();
                $(".btn-advanced-mode").text("@Messages("btn.basic")")
            }
        })

        $("#advanced-block-inner").on("click", ".btn-add-header", function(e) {
            e.preventDefault()
            var $context = $("#advanced-block-inner")
            var origin = $context.find(".clone")
            var clone = origin.clone()
            clone.find("input[type=text]").each(function() { $(this).val("") })
            $context.append(clone)
            origin.removeClass("clone")
            $(this).remove()
        })

        function initNewEditor(id) {
            var editor = ace.edit(id);
            editor.setTheme("ace/theme/tomorrow");
            editor.setHighlightActiveLine(false);
            editor.setShowPrintMargin(false);
            editor.renderer.setShowGutter(false);
            editor.getSession().setMode("ace/mode/json");
            return editor;
        }

        function changeEditorLanguage(lang) {
            editor.getSession().setMode("ace/mode/"+lang)
        }
    });
</script>

<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
}
