@(content: Html)(implicit messages: Messages)

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("title.home")</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(s"img/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned(s"stylesheets/main.css")">
        <script src="@routes.Assets.versioned(s"js/jquery-1.9.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned(s"js/select2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned(s"js/lodash-1.2.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            @content
            <hr />
            <footer>
                <p>
                    Made with <span class="strike">love</span> beer by <a href="https://www.twitter.com/julien_lafont" target="_blank">@@julien_lafont</a>.
                    Be an awesome hacker, <a href="https://github.com/studiodev/Mocky" target="_blank">fork me <img src="@routes.Assets.versioned("img/octocat.png")" /></a>
                </p>
            </footer>
        </div>

        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40626968-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>

        <script src="@routes.Js.i18n()" type="text/javascript"></script>
        <script src="@routes.Js.http()" type="text/javascript"></script>
        <script src="@routes.Assets.versioned(s"js/main.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("js/ace/ace.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.versioned(s"js/uservoices.js")"></script>
    </body>
</html>
