@font-face {
  font-family: 'iconsmind';
  src: url('../fonts/iconsmind.eot?#iefix-rdmvgc') format('embedded-opentype');
  src: url('../fonts/iconsmind.woff') format('woff'), url('../fonts/iconsmind.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconsmind';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Money-2:before {
  content: '\eac6';
}
.icon-Box-Full:before {
  content: '\e6e6';
}
.icon-Chemical:before {
  content: '\e74d';
}
.icon-Code-Window:before {
  content: '\e792';
}
