@font-face {
  font-family: 'Socicon';
  src: url('../fonts/socicon.eot?a93r5t');
  src: url('../fonts/socicon.eot?a93r5t#iefix') format('embedded-opentype'),
    url('../fonts/socicon.ttf?a93r5t') format('truetype'), url('../fonts/socicon.woff?a93r5t') format('woff'),
    url('../fonts/socicon.svg?a93r5t#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='socicon-'],
[class*=' socicon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-twitter:before {
  content: '\e08d';
}
.socicon-github:before {
  content: '\e032';
}
.socicon-linkedin:before {
  content: '\e04c';
}
