name: Development CI

on:
  push:
    branches: ['**', '!master']
  pull_request:
    branches: ['**', '!master']

jobs:
  build-server:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache SBT ivy cache
        uses: actions/cache@v2
        with:
          path: ~/.ivy2/cache
          key: ${{ runner.os }}-sbt-ivy-cache-${{ hashFiles('**/build.sbt') }}
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
      - name: Run tests
        run: cd server; sbt test it:test

  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js
        uses: actions/setup-node@v3.3.0
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: cd client; yarn --frozen-lockfile
      # Disabled step because... there is not JS tests...
      #      - name: Run tests
      #        run: cd client; yarn test
